@import '../../styles/vars.scss';


.fridge {
  text-align: center;
  max-width: 38rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 3% 5% 5% 5%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 23px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);  
}

.fridge-name {
  justify-content: center;
  margin-bottom: 30px;
}

.fridge-item-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $light-grey;
}

.fridge-left, .fridge-right {
  margin-bottom: 20px;
}

.fridge-item-name,
.fridge-item-owner,
.fridge-item-ex,
.fridge-item-time {
  margin: 10px 0px 0px 0px;
}

.fridge-item-name {
  color: $text-default-light;
}

.fridge-item-owner {
  color: $dark-blue;
  font-size: 12px;
}

.fridge-item-ex {
  color: $dark-blue;
  font-size: 12px;
}

.fridge-item-time {
  font-size: 12px;
}

.add-items-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

#add-friends {
  background-color: $background-blue;
}

.greenExpColor {
  color: #31ce7e; 
}

.yellowExpColor {
  color:$error-yellow; 
}

.redExpColor {
  color: $error-red;
}

.remove-fridge-disclaimer {
  font-size: 11px;
  margin-top: 5%;
}
.remove-fridge-question {
  font-size: 14px;
  margin-top: 5%;
}

.fridge-quantity-num {
  padding: 10px 10px 10px 10px;
}

.fridge-quantity {
  display: flex;
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  color: $text-default;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.leave-fridge-btn {
  margin-top: 5%;
  padding: 10px 20px 10px 20px;
  background-color: $error-yellow;
}

.remove-fridge-form-button {
  padding: 10px 20px 10px 20px;
  background-color: $error-red;
}