@import '../../styles/vars.scss';


.fridge {
  text-align: center;
  background-color: white;
  padding: 10px 5% 5% 5%;
  margin-top: 5%;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 23px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);  
}

.fridge-name {
  margin-bottom: 15px;
}

.fridge-item-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid $light-grey;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

.fridge-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fridge-center {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fridge-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 0;
}

.fridge-item-name,
.fridge-item-owner,
.fridge-item-ex,
.fridge-item-time {
  margin: 10px 0px 0px 0px;
}

.fridge-item-name {
  color: $text-default-light;
}

.fridge-item-owner {
  color: $dark-blue;
  font-size: 12px;
}

.fridge-item-ex {
  color: $dark-blue;
  font-size: 12px;
}

.fridge-item-time {
  font-size: 12px;
}

.add-items-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

.add-items-btn,
.leave-fridge-btn {
  width: 40%;
}

#add-friends {
  background-color: $background-blue;
}

.greenExpColor {
  color: #31ce7e; 
}

.yellowExpColor {
  color:$error-yellow; 
}

.redExpColor {
  color: $error-red;
}

.remove-fridge-disclaimer {
  font-size: 11px;
  margin-top: 5%;
}
.remove-fridge-question {
  font-size: 14px;
  margin-top: 5%;
}

.fridge-quantity-num {
  padding: 10px 10px 10px 10px;
}

.fridge-quantity {
  background-color: $light-grey;
  padding: 0px 15px 0px 15px;
  font-size: 15px;
  margin: 10px 20px 10px 10px;
  letter-spacing: 1px;
  color: $text-default;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(232, 232, 232);
}

.fridge-quantity-minus {
  color: $text-default-medium;
}

.leave-fridge-btn {
  padding: 10px 20px 10px 20px;
  background-color: $error-yellow;
  margin-bottom: 50px;
}

.remove-fridge-form-button {
  padding: 10px 20px 10px 20px;
  background-color: $error-red;
}

.fridge-item-delete-button {
  color: $text-default;
}

.fridge-item-delete-button:hover {
  -webkit-transition: all .2s ease-in-out;
  color: $error-red;
}

.update-exp-fridge-button {
  margin-top: 5%;
   padding: 10px 20px 10px 20px;
}

.fridge-item-time {
  cursor: pointer;
}