@import '../../styles/vars.scss';

.footer-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-default-light;
  font-size: 12px;
  border-top: 2px solid white;
}

.about-us-link {
  color: $dark-blue;
}

.footer{
  text-align: center;
  margin: 5px;
}

.github-icon {
  margin-bottom: 10px;
  font-size: 30px;
  color: $default-blue-light;
}