@import '../../styles/vars.scss';

.main-profile-container {
  background-color: white;
  padding: 50px 0px 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whats-in-it {
  margin-bottom: 5%;
}

.fridge-kitchen-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.kitchen {
  max-width: 300px;
  height: 50%;
  width: 50%;
  margin-bottom: 30px;
}

.fridge-list {
  margin: 5% 0% 3% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
}

.fridge-name {
  padding-top: 6%;
}

.fridge-list-item-icon-name {
  display: flex;
}

.snowflake-icon {
  color: white;
  background-color: $default-blue;
  padding: 10px;
  border-radius: 50px;
  margin-right: 10px;
}

// Calendar Items Container

.second-profile-container {
  background-color: $background-blue;
  padding: 5% 20% 5% 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}


// Calendar Items

.today, .calendar-profile {
  display: flex;
  background-color: white;
  margin: 2%;
  padding: 5% 10% 5% 10%;
  border-radius: 10px;
  color: $text-default-light;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

// Calendar Icons

.cal-icons {
  background-color: $default-blue;
  color: white;
  font-size: 80%;
  padding: 10px;
  border-radius: 50px;
  margin-right: 10%;
}
// Calendar Items Text

.today p,
.calendar-profile p {
  margin-top: 10%;
  font-size: 100%;
}

// Buttons

.add-new-fridge {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}


.add-new-fridge button {
  padding: 10px 30px 10px 30px;
}

.shopping-list-btn {
  padding: 10px 30px 10px 30px;
}

.add-fridge-button {
  margin-top: 9%; 
}

.add-fridge-modal-form-input {
  margin-top: 7%; 
}

.add-fridge-form > h1 {
  margin-bottom: 5%;
}