@import '../../styles/vars.scss';

.shopping-list {
  text-align: center;
  background-color: white;
  padding: 5% 5% 5% 5%;
  margin-top: 5%;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 23px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);  
}


.shopping-list-header {
  justify-content: center;
  margin-bottom: 20px;
}


.shopping-list-category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 20px 10px;
}

.shopping-list-category-label {
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid $light-grey;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: $text-default-light
}

.shopping-list-category {
  margin-top: 20px;
  text-align: center;
  // border: 1px solid red;
}

.item-and-fridge {
  align-items: flex-start;
}

.shopping-list-item-name {
  color: $text-default;
}

.belongs-to-fridge {
  color: $dark-blue;
  font-size: 12px;
}

.belongs-to-fridge:hover {
  color: $default-blue-hover;
  font-size: 12px;
  cursor: pointer;
}

.shopping-list-item-details {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.quantity-form-container-shopping-list {
  width: 50px;
  height: 10px;
}

.quantity-align {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // width: 200px;
}

.align-me {
  display: flex;
  align-items: center;
  justify-content: center;
}


// BUTTONS: 
.shopping-list-circle-icon {
  float: left;
  color: $text-default-light;
  font-size: 30px;
  margin-right: 10px;
}

.shopping-list-circle-icon-checked {
  float: left;
  color: green;
  font-size: 30px;
  margin-right: 10px;
}

.add-items-section { // div for button alignment
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-items-btn, 
.add-to-fridge-btn {
  padding: 10px 20px 10px 20px; 
}

.add-items-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.x-shopping-list {
  color: $text-default;
  -webkit-transition: all .2s ease-in-out;
}

.x-shopping-list:hover {
  -webkit-transition: all .2s ease-in-out;
  color: $error-red;
}