@import '../../styles/vars.scss';

@import '../../styles/vars.scss';


.shopping-list {
  text-align: center;
  max-width: 38rem;
  min-width: 250px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 5% 5% 5% 5%;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 23px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.25);  
}

.shopping-list-header {
  justify-content: center;
  margin-bottom: 20px;
}

.shopping-list-category {
  max-width: 400px;
  width: 200px;
  min-width: 100px;
  border: 1px solid red;
}

.shopping-list-category-label {
  margin: 0;
}

.shopping-list-category-items {
  margin-top: 10px;
}

.shopping-list-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.shopping-list-item-name,
.belongs-to-fridge {
  
}

.shopping-list-item-name {
  color: $text-default-light;
}

.belongs-to-fridge {
  color: $dark-blue;
  font-size: 12px;
}

.shopping-list-section {
  border-bottom: 2px solid $light-grey;
}

.shopping-list-item-details {
  margin-bottom: 20px;
}

.add-items-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.shopping-list-circle-icon {
  color: $text-default-light;
  font-size: 20px;
}

.shopping-list-circle-icon-checked {
  color: green;
  font-size: 20px;
}

.add-items-btn {
  padding: 10px 20px 10px 20px; 
}

.quantity-form-container {
  width: 50%;
}

.quantity-align {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // width: 200px;
}

.align-me {
  display: flex;
  align-items: center;
  justify-content: center;
}
