@import '../../styles/vars.scss';


#calendar-container {
  padding: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  margin: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.react-calendar {
  border: none !important;
  text-decoration: none !important;
  
}

.react-calendar__navigation__label {
  color: $text-default-light !important;
  font-weight: 200;
}

.react-calendar__month-view__weekdays__weekday {
  text-decoration: none !important;
}

.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
  display: none !important;
}

.react-calendar__navigation > button {
  color: $text-default-light !important;
  display: border-box !important;
}
.react-calendar__navigation > button:hover {
  background-color: white !important;
}

.react-calendar__tile {

  border-radius: 100px;
  color: white !important;
  padding: 5px 5px 5px 5px;

}

.react-calendar__tile--active {
    background: white !important;
    color: $error-yellow;
    
}

.react-calendar__tile--now {
  background-color: white !important;
  font-weight: 700 !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: white !important;
    color: $error-yellow
}

abbr {
  text-decoration: none !important;
  font-weight: 200;
  color: $text-default;
  font-size: 10px;
}

.return-to-profile {
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
}

