@import '../../styles/vars.scss';


#calendar-container {
  padding: 30px 30px 40px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-calendar {
  border: none !important;
}

.Calendar {
  color: $text-default;
  font-weight: 200 !important;
  margin: 20px;
}

.Calendar th,
.Calendar td {
  padding: 1rem;
  text-align: center;
  padding: 10px;
}

tr.month-header {
  color: $text-default-light;
  // font-weight: 200 !important;
}

th.DayOfWeek {
  color: $text-default-light;
}

.Day {
  background-color: $light-grey;
  border-radius: 100px;
}

.Day:hover {
  background-color: $dark-grey;
  cursor: pointer;
}

.Day.selected {
  background-color: $error-yellow;
  box-shadow: none;
}

.Day-inner {
  background-color: transparent;
}

.Day-inner:hover {
  background-color: transparent;
}

.Day.today {
  background-color: $dark-grey;
  border-radius: 100px;
  box-shadow: none;
  margin: 0;
}

.nav {
  background-color: $light-grey;
  border-radius: 300px;
}

.nav-inner {
  color: $text-default;
  background-color: transparent;
  font-size: 20px;
}

.nav-inner:hover {
  background-color: transparent;
}

.nav:hover {
  background-color: $dark-grey;
}

button.Day-inner {
  color: $text-default;
  padding: 3px;
  margin: 2px;
}

// Items for selected Day:

.selected-date-div {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selected-date-heading {
  text-align: center;
  margin-bottom: 20px;
}

.expiring-items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.selected-date-div ul {
  width: 100%;
  display: flex;
  
}

.expiring-items-list li {
  text-align: center;
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 10px;
}

.return-to-profile {
  padding: 10px 20px 10px 20px;
}

.expiring-item-name {
 color: $text-default-light;
}

.expiring-item-fridge {
  font-size: 14px;
  color: $dark-blue;
}

.expiring {
  background-color: $error-red;
}
